@external .widget-holder-header;
@external .widget-holder-label;
@external .widget-holder;
@external .poly-split-*;
@external .drop-*;

.drop-glass {
    background: gray;
    opacity: 0.7;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    cursor: crosshair;
    overflow: hidden;
}

.drop-target-indicator {
    border: #FFDC00 dashed 4px;
    position: absolute;
}

.drop-side-indicator {
    /*background: #ffb200;*/
    background: #FFDC00;
    opacity: 0.5;
    position: absolute;
}

.drop-help-text {
    color: #000000;
    background: #ffeea0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 15px;
    opacity: 1.0;
}

.poly-split-panel {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.poly-split-panel > div {
    overflow: visible !important;
}

.poly-split-panel-border {
}

.poly-split-panel-fixed-splitter {
}

.poly-split-panel-movable-splitter {

}

.poly-split-panel-movable-splitter-move {
    background: gray;
}

.poly-split-panel-movable-vertical-splitter {
    cursor: row-resize;
}

/* Set the interaction area wider than the splitter */
.poly-split-panel-movable-vertical-splitter > div {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 2;
}

.poly-split-panel-movable-horizontal-splitter {
    cursor: col-resize;
}

/* Set the interaction area wider than the splitter */
.poly-split-panel-movable-horizontal-splitter > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    right: -5px;
    z-index: 2;
}

.poly-split-panel-box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.widget-holder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.widget-holder-header {
    background: #6f6d6d;
    border-bottom: none;
    text-align: left;
    vertical-align: baseline;
    padding-left: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}

.widget-holder-label {
    color: white;
    white-space: nowrap;
    overflow: hidden;

}


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:5s;-moz-animation-duration:5s;-ms-animation-duration:5s;-o-animation-duration:5s;animation-duration:5s;}.animated.hinge{-webkit-animation-duration:5s;-moz-animation-duration:5s;-ms-animation-duration:5s;-o-animation-duration:5s;animation-duration:5s;}@-webkit-keyframes pulse {
                                                                                                                                                                                                                                                                                                                                                                                                                                                     0% { -webkit-transform: scale(1); }	50% { -webkit-transform: scale(1.1); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                     100% { -webkit-transform: scale(1); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                 }
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }
    50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}